<div class="table-container">
  <table
    id="table"
    datatable="ng"
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
    class="hover hidden nowrap"
    style="width: 100%"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Disponible</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody class="table-body">
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.available }}</td>
        <td>
          <button class="btn btn-info m-1" (click)="openDetails(product.id)">
            Ver
          </button>
          <button class="btn btn-secondary m-1" (click)="openEdit(product.id)">
            Editar
          </button>
          <button class="btn btn-danger m-1" (click)="openDelete(product.id)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<swal
  #editorSwal
  title="{{ isAdding ? 'Nuevo Producto' : 'Editar Producto' }}"
  [width]="'80%'"
  confirmButtonText="Guardar"
  [showCancelButton]="true"
  cancelButtonText="Cancelar"
  [preConfirm]="canConfirm"
  (didClose)="onClose()"
  (confirm)="submit()"
  [focusConfirm]="false"
  (didRender)="onRender($event)"
>
  <form *swalPortal="swalTargets.content" [formGroup]="form">
    <!-- ID -->
    <div *ngIf="isEditing" class="form-group row">
      <label class="col-sm-2 col-form-label text-left">ID</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          value="{{ selected?.id }}"
          readonly
        />
      </div>
    </div>

    <!-- Nombre -->
    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-left">Nombre</label>
      <div class="col-sm-10">
        <input
          formControlName="name"
          type="text"
          class="form-control"
          placeholder="Nombre del producto"
          autofocus="true"
          required
        />
      </div>
    </div>

    <!-- Descripción -->
    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-left">Descripción</label>
      <div class="col-sm-10">
        <textarea
          formControlName="description"
          class="form-control"
          placeholder="Descripción del producto"
        ></textarea>
      </div>
    </div>

    <!-- Precio -->
    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-left">Precio</label>
      <div class="col-sm-10">
        <input
          formControlName="price"
          type="number"
          class="form-control"
          placeholder="Precio del producto"
          min="1"
          required
        />
      </div>
    </div>

    <!-- Disponible -->
    <div class="form-group row">
      <label class="col-sm-2 col-form-label text-left">Disponible</label>
      <div class="col-sm-10">
        <input
          formControlName="available"
          type="number"
          class="form-control"
          placeholder="Cantidad disponible"
          min="1"
          required
        />
      </div>
    </div>

    <div
      *ngIf="error && validated && (form.dirty || form.touched)"
      class="alert alert-danger"
    >
      {{ error }}
    </div>
  </form>
</swal>

<swal
  #detailsSwal
  [width]="'80%'"
  title="{{ isDeleting ? 'Eliminar Producto' : 'Ver Producto' }}"
  [confirmButtonColor]="isDeleting ? 'red' : ''"
  [confirmButtonText]="isDeleting ? 'Eliminar' : 'Editar'"
  [showCancelButton]="true"
  cancelButtonText="Cancelar"
  (confirm)="isDeleting ? delete() : openEdit()"
  (didClose)="onClose()"
  (didRender)="onRender($event)"
>
  <div *swalPortal="swalTargets.content">
    <!-- ID -->
    <div class="row">
      <div class="col-sm-2 alert alert-primary">ID</div>
      <div class="details-text col-sm-10 p-2 mb-3">
        {{ this.selected?.id }}
      </div>
    </div>

    <!-- Nombre -->
    <div class="row">
      <div class="col-sm-2 alert alert-primary">Nombre</div>
      <div class="details-text col-sm-10 p-2 mb-3">
        {{ this.selected?.name }}
      </div>
    </div>

    <!-- Descripción -->
    <div class="row">
      <div class="col-sm-2 alert alert-primary">Descripción</div>
      <div class="details-text col-sm-10 p-2 mb-3">
        {{ this.selected?.description }}
      </div>
    </div>

    <!-- Precio -->
    <div class="row">
      <div class="col-sm-2 alert alert-primary">Precio</div>
      <div class="details-text col-sm-10 p-2 mb-3">
        {{ this.selected?.price }}
      </div>
    </div>

    <!-- Disponible -->
    <div class="row">
      <div class="col-sm-2 alert alert-primary">Disponible</div>
      <div class="details-text col-sm-10 p-2 mb-3">
        {{ this.selected?.available }}
      </div>
    </div>
  </div>
</swal>
