
<div class='table-container'>
    <table id="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Disponible</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class='table-body'>
            <tr *ngFor='let product of products'>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.available}}</td>
                <td>
                    <button class='btn btn-info m-1'>Ver</button>
                    <button class='btn btn-secondary m-1'>Editar</button>
                    <button class='btn btn-danger m-1'>Eliminar</button>
                </td>
            </tr>
            <tr *ngFor='let product of products'>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.available}}</td>
                <td>
                    <button class='btn btn-info m-1'>Ver</button>
                    <button class='btn btn-secondary m-1'>Editar</button>
                    <button class='btn btn-danger m-1'>Eliminar</button>
                </td>
            </tr>
            <tr *ngFor='let product of products'>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.available}}</td>
                <td>
                    <button class='btn btn-info m-1'>Ver</button>
                    <button class='btn btn-secondary m-1'>Editar</button>
                    <button class='btn btn-danger m-1'>Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>